<div class="span2">
    <select ng-value="Bobcat" ng-model="rankquery.rank.name">
        <option ng-repeat="rank in ranks" value="{{rank.name}}">{{rank.name}}</option>
    </select>
</div>
<table width="100%" border="1" style="border-collapse: collapse">
    <tr>
        <th>Number</th>
        <th>Title</th>
        <th>Notes</th>
    </tr>
    <tr ng-repeat="ach in achievements | filter: rankquery| orderBy: number">
        <td>{{ach.number}}</td>
        <td>{{ach.title}}</td>
        <td>{{ach.notes}}</td>
    </tr>
</table>