<div class="row">
    <div class="col-md-3">
        <select ng-model="denquery.den" ng-change="denChange()"
                ng-init="denquery.den = dens[0]">
            <option ng-repeat="den in dens" value="{{den.rank.id}}">Den {{den.name}} ({{den.rank.name}})</option>
        </select>
    </div>
    <div class="col-md-3">
        <select ng-model="typequery.type" ng-change="denChange()"
                ng-init="typequery = types[0]" >
            <option ng-repeat="type in types" value="{{type.key}}">{{type.value}}</option>
        </select>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="input-group" ng-repeat="scout in scouts| filter:denquery" >
            <span class="input-group-addon">
                <input type="checkbox"
                       name="selectedScouts[]"
                       value="{{scout.id}}"
                       ng-checked="selectedScouts.indexOf(scout.id) > -1"
                       ng-click="toggleSelection(scout.id)"/>
                &nbsp;
                {{scout.name}}
            </span>
        </div>
    </div>
    <div class="col-md-9">
        <accordion close-others="false">
            <accordion-group heading="{{item.title}}" ng-repeat="item in items">
                {{item.title}}
                <hr/>
                <div ng-repeat="group in item.groups">
                    <div ng-repeat="part in group.parts" style="border: 1px solid red">
                        #{{item.number}}-{{part.number}}: {{part.description}}
                    </div>
                </div>
            </accordion-group>
    </accordion>
</div>
</div>
<a ng-click="listSelected()" class="btn btn-small btn-primary">Save</a>