.scout_listing {
    padding-bottom: 5px;
}

.input-group-addon {
    text-align: left;
}

.panel-group .panel {
    border-radius: 0px;
    border-top-style: none;
}

.panel-group .panel + .panel {
    margin-top: 0px;
}