<h1>Edit Den</h1>

<form novalidate="novalidate" class="form-horizontal">
    <div ng-include src="'partials/dens/den-fields.html'"/>
    <div class="control-group">
        <div class="controls">
            <a ng-click="cancel()" class="btn btn-small btn-default">cancel</a>
            <a ng-click="updateDen()" class="btn btn-small btn-primary">Update Den</a>
        </div>
    </div>
</form>
