<div class="control-group">
    <label class="control-label" for="inputName">Name:</label>
    <div class="controls">
        <input type="text" id="inputName" ng-model="den.name"/>
    </div>
</div>
<div class="control-group">
    <label class="control-label" for="inputDen">Rank:</label>
    <div class="controls">
        <select id="inputDen" 
                ng-model="den.rank.id" 
                ng-options="r.id as r.name for r in ranks"></select>
    </div>
</div>
