#header{
    text-align:left
}

#footer {
    height: 100px; 
    min-height: 100px 
}

#description{
    clear:left;
    float:left
}

body {
    background: repeat-x scroll 0 0 #BBBBBB;
}

.pagination {
    padding-left: 10px;
    padding-right: 10px;
}

.page {
    padding: 0 0 12px 15px; 
    margin: 0 0 17px; 
    clear: both; 
    height:auto !important; 
    height: 208px; 
    min-height:208px 
}

* html body .page {
    background-position: 12px 15px; 
    padding: 15px 0 12px 15px;
}

*+html body .page {
    background-position: 12px 15px; 
    padding: 15px 0 12px 15px;
}