/*Initialize the browser's CSS Except for table structure*/

html {color:#1d2226 }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, 
form, fieldset, legend, input, textarea, p, blockquote {margin:0; padding:0 }

fieldset,img {border:0 }

address, caption, cite, code, dfn, th, var {font-style:normal; font-weight:normal }

caption, th{text-align:left }

q:before, q:after {content:'"' }

abbr, acronym {border:0; font-variant:normal }

sup {vertical-align:text-top }

sub {vertical-align:text-bottom }

input, textarea, select {font-family:inherit; font-size:inherit; font-weight:inherit }

input, textarea, select {font-size:100% }

legend {color:#000 }