<div class="container">
    <h1>Scout Detail</h1>

    <form novalidate="novalidate" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="inputName">Name:</label>
            <div class="controls">
                <input type="text" id="inputName" ng-model="scout.name"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputPhone">Phone Number:</label>
            <div class="controls">
                <input type="text" id="inputPhone" ng-model="scout.phoneNumber"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputEmail">Email Address:</label>
            <div class="controls">
                <input type="text" id="inputEmail" ng-model="scout.emailAddress"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputPhoto">Photo:</label>
            <div class="controls">
                <input type="file" id="inputPhoto" ng-model="scout.photo"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputDen">Den:</label>
            <div class="controls">
                <select id="inputDen" ng-model="scout.den" ng-options="d.name for d in dens"></select>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <a ng-click="cancel()" class="btn btn-small">cancel</a>
                <a ng-click="addScout()" class="btn btn-small btn-primary">Add Scout</a>
                <a ng-click="updateScout()" class="btn btn-small btn-primary">Update Scout</a>
            </div>
        </div>
    </form>
</div>
