<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
            <div class="span2">
                <select ng-model="denquery.den.name">
                    <option ng-repeat="den in dens" value="{{den.name}}">{{den.name}}</option>
                </select>
            </div>
        </div>
        <div class="span10">
            <div ng-repeat="scout in scouts| filter:denquery | orderBy:orderProp" class="row scout_listing">
                <div class="col-md-2">
                    <img ng-src="api/scouts/{{scout.id}}/photo" 
                             width="100%"
                             style="vertical-align: top"
                             alt="No photo" 
                             title="{{scout.name}}"/>
                </div>
                <div class="col-md-2">
                    <a href="#/scouts/{{scout.id}}">
                        {{scout.name}}
                    </a>
                </div>
                <div class="col-md-8">
                    <p>Information about {{scout.name}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
