<div class="phone-images" style="float: right">
  <img ng-src="api/scouts/{{scout.id}}/photo" class="photo" width="250">
</div>

<h1>{{scout.name}}</h1>
<p>Phone: {{scout.phoneNumber}}</p>
<p>Email Address: {{scout.emailAddress}}</p>
<p>Den: {{scout.den.name}}</p>

<a ng-href="#/scouts/edit/{{scout.id}}">Edit</a>